<form action="/cart/add" class="product-form" method="post" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  <input type="hidden" name="properties[Product]" value="{{ product.title }}">
  <button type="submit">Add to Cart</button>
</form>
